.header{
    padding: 0 0 20px 0;
     text-align: center;
 }
.header_heading{
    text-align: center;
    color:rgb(159, 129, 129);
    }
    .header_para{
        font-family:Arial;
        text-align: center;
    }
    .div1{
        margin: auto;
        width: 50%;
        height: 50%;
    }
    .middle{
        background-color: rgb(209, 221, 221);
        display: flex;
        
    }
    .inner_middle{
        text-align: center;
        text-align: left;
        width: 70%;
        padding: 50px 100px 60px 0px;  
    }
    .in_mid_heading{
        font-family:Arial;
        font-weight: 200;
        max-width: 550px;
    }
    .image_1{
        width:500px;
        height: 400px;
        padding: 50px 50px 50px 100px;
    }
    .image_div{
        width: 60%;
    }
    span{
        color:rgb(215, 134, 113);
        font-weight: bold;
    }
    .in_mid_para{
        font-family:  Arial;
        max-width: 600px;
        line-height: 24px;
    }
    .image_2{
        padding: 50px 40px 50px 100px;
        height: 400px;
        width: 1250px;
    }